{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">

</head>
<body>
    
<header class="header">
    {% if user.is_authenticated %}
    <a href="#" class="logo"> <i class="fas fa-hiking"></i> KSS. <span>{{user.username}} </span></a>
    {% else %}
    <a href="#" class="logo"> <i class="fas fa-hiking"></i> KSS.</a>
    {% endif %}
    <nav class="navbar">
        <div id="nav-close" class="fas fa-times"></div>
        
        <a href=" ">Home</a>
        <a href="{% url 'displayplanes' %}">Search Flight</a>
        {% if user.is_authenticated %}
        
        <a href="{% url 'booking_history'%}">History</a>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
       <a href="{% url 'login' %}">Login/Sign Up</a>
        {% endif %}
    </nav>

    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="search-btn" class="fas fa-search"></div>
    </div>

</header>

<section class="home" id="home">
    <div class="swiper home-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="box">
                    <div class="content">
                        <span>never stop</span>
                        <h3>exploring </h3>
                        <p></p>
                        <a href="#" class="btn">get started</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>

</body>
</html>